@model ProjectFinal_VNND.Models.Assurances



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Supprimer</title>
</head>
<body>
    <h3>Etes-vous sure de vouloir supprimer ?</h3>
    <div>
        <h4>Assurances</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Type d'Assurance
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.libelle)
            </dd>
    
            <dt>
                Coût (en % du prix Total)
            </dt>
    
            <dd>
                @Model.prix100
            </dd>
    
            <dt>
                Conditions d'Application
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.descriptif)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Supprimer" class="btn btn-default" /> |
                @Html.ActionLink("Retour au Menu Assurance", "Index")
            </div>
        }
    </div>
</body>
</html>
