@model ProjectFinal_VNND.Models.Authentifications


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ajouter un Compte utilisateur</title>
</head>
<body>
    @using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4>Compte utilisateur</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                E-mail / Login
                <div class="col-md-10">
                    @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                Mot de Passe
                <div class="col-md-10">
                    @Html.PasswordFor(model => model.mot_de_passe, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.mot_de_passe, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                Statut
                <div class="col-md-10">
                    @Html.DropDownList("statut", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.statut, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Sauvegarder" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    
    <div>
        @Html.ActionLink("Retour à la liste des Comptes utilisateur", "Index")
    </div>
</body>
</html>
