@model ProjectFinal_VNND.Models.Voyages
    @using System.Globalization;



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Informations</title>
</head>
<body>
    <div>
        <h4>Voyages</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                ID Destination
            </dt>
            <dt>
                @Model.id_voyage
            </dt>
            <dt>
                Date aller
            </dt>

            <dd>
                @Model.date_aller.ToString("g", CultureInfo.CreateSpecificCulture("fr-FR"))
            </dd>

            <dt>
                Date retour
            </dt>

            <dd>
                @Model.date_retour.ToString("g", CultureInfo.CreateSpecificCulture("fr-FR"))
            </dd>

            <dt>
                Nombre de places encore disponibles
            </dt>

            <dd>
                @Html.DisplayFor(model => model.places_disponibles)
            </dd>

            <dt>
                Tarif Tout Compris
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tarif_tout_compris) &euro;
            </dd>

            <dt>
                Agence de Voyage
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Agences.agence)
            </dd>

            <dt>
                Destination
            </dt>
            <dd>
                <ul>
                    <li>
                        ID Destination : @Model.Destinations.id_destination
                    </li>
                    <li>
                        Pays : @Html.DisplayNameFor(model => model.Destinations.pays)
                    </li>
                    <li>
                        R&eacutegion : @Html.DisplayFor(model => model.Destinations.region)
                    </li>
                    <li>
                        Description du Voyage
                    </li>
                    @Html.DisplayFor(model => model.Destinations.descriptif)
                </ul>
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Modifier", "Edit", new { id = Model.id_voyage }) |
        @Html.ActionLink("Retour à la liste des Voyages", "Index")
    </p>
</body>
</html>
