@model ProjectFinal_VNND.Models.Dossiers
    @using ProjectFinal_VNND.Models;


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Informations</title>
</head>
<body>
    <div class=" details">
        <h4>Dossiers</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Etat du Dossier
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Etats_Dossiers.etat)
            </dd>
            <dt>
                Date du dernier suivi de dossier
            </dt>

            <dd>
                @Html.DisplayFor(model => model.dernier_suivi)
            </dd>

            <dt>
                Raison d'Annulation
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Raisons_Annulations.annulation_raison)
            </dd>

            <dt>
                Client
            </dt>

            <dd>
                <ul class="dest2">
                    <li>
                        Numero Unique :@Model.Personnes.id_personne
                    </li>
                    <li>
                        @Model.Personnes.Civilites.civilite @Model.Personnes.prenom @Model.Personnes.NOMCAP
                    </li>
                    <li>
                        Tél : @Model.Personnes.telephone
                    </li>
                    <li>
                        E-mail : @Model.Personnes.email
                    </li>

                </ul>

            </dd>

            <dt>
                Voyage
            </dt>
            <dd>
                <ul class="dest2">
                    <li>
                        ID Voyage : @Model.Voyages.id_voyage
                    </li>
                    <li>
                        Date d'aller : @Model.Voyages.date_aller
                    </li>
                    <li>
                        Date de retour: @Model.Voyages.date_retour
                    </li>
                    <li>
                        <ul class="dest2">
                            <lh>
                                Destination
                            </lh>
                            <li>
                                ID Destination : @Model.Voyages.Destinations.id_destination
                            </li>
                            <li>
                                Continent : @Model.Voyages.Destinations.Continents.continent
                            </li>
                            <li>
                                Pays : @Model.Voyages.Destinations.pays
                            </li>
                            <li>
                                R&eacutegion : @Model.Voyages.Destinations.region
                            </li>
                            <li>
                                Description du Voyage :
                            </li>
                            @Model.Voyages.Destinations.descriptif
                        </ul>
                    </li>
                </ul>
            </dd>
            <dt>
                Liste Des Participants
            </dt>
            <dd>
                <ul class="dest2">
                    @*client*@
                    <li> @Model.Personnes.civilite @Model.Personnes.prenom @Model.Personnes.NOMCAP</li>
                    @*boucle pour chaque participant dans le dossier symbolisé par une entree dans la table intermediaire liste_particpants*@
                    @foreach (Liste_Participants entreep in Model.Liste_Participants)
                    {
                        <li> @entreep.Personnes.civilite @entreep.Personnes.prenom @entreep.Personnes.nom</li>
                    }
                </ul>
            </dd>
            <dt>
                Liste Des Assurances Souscrites
            </dt>
            <dd>
                <ul class="dest2">
                    @foreach (Liste_Assurances entreea in Model.Liste_Assurances)
                    {
                        <li> @entreea.Assurances.libelle</li>
                    }
                </ul>
            </dd>
            <dt>
                Prix Total
            </dt>

            <dd>
                @Model.PrixTotal &euro;
            </dd>
            <dt>
                Numéro de Carte Bancaire
            </dt>

            <dd>
                @Model.numero_carte_bancaire
            </dd>

        </dl>
    </div>

    <button class="button" type="button" onclick="location.href='@Url.Action("Suivi","Dossiers", new { id = Model.id_dossier })'">Suivi Dossier</button><br />

    <p>
        @Html.ActionLink("Modifier", "Edit", new { id = Model.id_dossier }) |
        @Html.ActionLink("Retour à la liste des Dossiers", "Index")
    </p>
</body>
</html>

