@model ProjectFinal_VNND.Models.Liste_Participants

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div class=" details">
        <h4>Liste_Participants</h4>
        <hr />
        <dl >
            <dt>
                @Html.DisplayNameFor(model => model.Dossiers.numero_carte_bancaire)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Dossiers.numero_carte_bancaire)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Personnes.prenom)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Personnes.prenom)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.id_listparticipant }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
