@model ProjectFinal_VNND.Models.Personnes

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Informations</title>
</head>
<body>
    <div>
        <h4>Personnes</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Civilit&eacute
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Civilites.civilite)
            </dd>
            <dt>
                Pr&eacutenom
            </dt>

            <dd>
                @Html.DisplayFor(model => model.prenom)
            </dd>

            <dt>
                Nom
            </dt>

            <dd>
                @Html.DisplayFor(model => model.nom)
            </dd>

            <dt>
                Adresse
            </dt>

            <dd>
                @Html.DisplayFor(model => model.adresse)
            </dd>

            <dt>
                Téléphone
            </dt>

            <dd>
                @Html.DisplayFor(model => model.telephone)
            </dd>

            <dt>
                Date de Naissance
            </dt>

            <dd>
                @Html.DisplayFor(model => model.date_naissance)
            </dd>
            <dd>
                @Html.DisplayFor(model => model.date_naissance)
            </dd>
            <dt>
                R&eacuteduction
            </dt>

            <dt>
                E-mail
            </dt>

            <dd>
                @Html.DisplayFor(model => model.email)
            </dd>



            <dt>
                Client
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OuisNons.valeur)
            </dd>

            <dt>
                Participant
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OuisNons1.valeur)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Modifier", "Edit", new { id = Model.id_personne }) |
        @Html.ActionLink("Retour à la liste des Voyageurs", "Index")
    </p>
</body>
</html>
