@model IEnumerable<ProjectFinal_VNND.Models.Assurances>
    @using ProjectFinal_VNND.Models; 


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Liste des Assurances</title>
</head>
<body>
    <p>
        @Html.ActionLink("Ajouter une Assurance", "Create")
    </p>

    @using (Html.BeginForm())
    {
        <p>
            @Html.TextBox("type", "", new { placeholder = "Type de l'assurance ..." })
            <button type="submit"><i class="fa fa-search"></i></button>
        </p>
    }

    <table class="table">
        <tr>
            <th>
                Type d'Assurance
            </th>
            <th>
                Coût (en % du prix Total)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.libelle)
                </td>
                <td>
                    @item.prix100
                </td>
                <td>
                    @Html.ActionLink("Modifier", "Edit", new { id = item.id_assurance }) |
                    @Html.ActionLink("Informations", "Details", new { id = item.id_assurance }) |
                    @Html.ActionLink("Supprimer", "Delete", new { id = item.id_assurance })
                </td>
            </tr>
        }

    </table>
    <br />
    <a href="/Dossiers" id="autre"> Retour à la liste des Dossiers</a>
</body>
</html>
