@model ProjectFinal_VNND.Models.Destinations



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Destinations</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.pays)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.pays)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.region)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.region)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.descriptif)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.descriptif)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Continents.continent)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Continents.continent)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.id_destination }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
