@model IEnumerable<ProjectFinal_VNND.Models.Destinations>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

    @using (Html.BeginForm())
    {
        <p>
            Rechercher @Html.TextBox("continent", "", new { placeholder = "Continent ..." })
            et/ou @Html.TextBox("pays", "", new { placeholder = "Pays ..." })
            et/ou @Html.TextBox("region", "", new { placeholder = "Region ..." })
            <button type="submit"><i class="fa fa-search"></i></button>
        </p>
    }

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.pays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.region)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descriptif)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Continents.continent)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.pays)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.region)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.descriptif)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Continents.continent)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id_destination }) |
                    @Html.ActionLink("Details", "Details", new { id = item.id_destination }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id_destination })
                </td>
            </tr>
        }

    </table>
</body>
</html>
