@model IEnumerable<ProjectFinal_VNND.Models.Agences>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

    @using (Html.BeginForm())
    {
        <p>
            Rechercher: @Html.TextBox("nomAgence", "", new { placeholder = "Nom de l'agence ..." })
            <button type="submit"><i class="fa fa-search"></i></button>
        </p>
    }

    <table class="table">
        <tr>
            <th>
                Agence
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.agence)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id_agence }) |
                    @Html.ActionLink("Details", "Details", new { id = item.id_agence }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id_agence })
                </td>
            </tr>
        }

    </table>
    <br />
    <a href="/Voyages" id="autre"> Retour Voyages</a>
</body>
</html>
