@model ProjectFinal_VNND.Models.Personnes



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Supprimer</title>
</head>
<body>
    <h3>Etes-vous sure de vouloir supprimer cette Personne ?</h3>
    <div>
        <h4>Personnes</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Numero Unique (ID Voyageur)
            </dt>

            <dd>
                @Model.id_personne
            </dd>
            <dt>
                Civili&eacutet&eacute
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Civilites.civilite)
            </dd>
            <dt>
                Pr&eacutenom
            </dt>

            <dd>
                @Html.DisplayFor(model => model.prenom)
            </dd>

            <dt>
                Nom
            </dt>

            <dd>
                @Model.NOM
            </dd>
            <dt>
                Date de Naissance
            </dt>

            <dd>
                @Html.DisplayFor(model => model.date_naissance)
            </dd>
            <dt>
                R&eacuteduction
            </dt>

            <dd>
                @Model.reduction
            </dd>
            <dt>
                Adresse
            </dt>

            <dd>
                @Html.DisplayFor(model => model.adresse)
            </dd>

            <dt>
                Num&eacutero de T&eacutel&eacutephone
            </dt>

            <dd>
                @Html.DisplayFor(model => model.telephone)
            </dd>
            <dt>
                Adresse E-mail
            </dt>

            <dd>
                @Html.DisplayFor(model => model.email)
            </dd>



            <dt>
                Client
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OuisNons.valeur)
            </dd>

            <dt>
                Participant
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OuisNons1.valeur)
            </dd>

        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Supprimer" class="btn btn-default" /> |
                @Html.ActionLink("Retour à la liste des Voyageurs", "Index")
            </div>
        }
    </div>
</body>
</html>
