@model ProjectFinal_VNND.Models.Dossiers
    @using ProjectFinal_VNND.Models;


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Informations</title>
</head>
<body>
    <div>
        <h4>Dossiers</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.numero_carte_bancaire)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.numero_carte_bancaire)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.dernier_suivi)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.dernier_suivi)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Raisons_Annulations.annulation_raison)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Raisons_Annulations.annulation_raison)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Etats_Dossiers.etat)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Etats_Dossiers.etat)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Personnes.civilite)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Personnes.civilite)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Voyages.id_voyage)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Voyages.id_voyage)
            </dd>
            <dt>
                Liste Des Participants
            </dt>
            <dd>
                <ul>
                    @*client*@
                    <li> @Model.Personnes.civilite @Model.Personnes.prenom @Model.Personnes.nom</li>
                    @*boucle pour chaque participant dans le dossier symbolisé par une entree dans la table intermediaire liste_particpants*@
                    @foreach(Liste_Participants entree in Model.Liste_Participants)
                    {
                        <li> @entree.Personnes.civilite @entree.Personnes.prenom @entree.Personnes.nom</li>
                    }
                </ul>
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Modifier", "Modifier", new { id = Model.id_dossier }) |
        @Html.ActionLink("Retour à la liste des Dossiers", "Index")
    </p>
</body>
</html>
