@model IEnumerable<ProjectFinal_VNND.Models.Voyages>



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <ul>
        <li class="actif"><a href="../Destinations/Index"> Destinations</a></li>
        <li><a href="../Agences/Index" id="autre"> Agences</a></li>
    </ul>
    <br />
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

    @using (Html.BeginForm(new { @class = "example" }))
    {
        <p>
            @Html.TextBox("searchPattern", "", new { placeholder = "Continent, Pays, Région, ..." })
            @Html.TextBox("aller", "", new { type = "date", placeholder = "Date aller ..." })
            @Html.TextBox("retour", "", new { type = "date", placeholder = "Date retour ..." })
            @Html.TextBox("prixMin", "", new { placeholder = "Prix minimum ..." })
            @Html.TextBox("prixMax", "", new { placeholder = "Prix maximum ..." })
            @Html.TextBox("place", "", new { placeholder = "Nombre de place 1 à 9 ..." })


            <button type="submit"><i class="fa fa-search"></i></button>
        </p>
    }

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.date_aller)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.date_retour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.places_disponibles)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tarif_tout_compris)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Agences.agence)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destinations.continent)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.date_aller)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.date_retour)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.places_disponibles)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tarif_tout_compris)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Agences.agence)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Destinations.continent)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id_voyage }) |
                    @Html.ActionLink("Details", "Details", new { id = item.id_voyage }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id_voyage })
                </td>
            </tr>
        }

    </table>
</body>
</html>
