@model ProjectFinal_VNND.Models.Authentifications


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Informations</title>
</head>
<body>
    <div class=" details">
        <h4>Compte utilisateurs</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                ID du Compte
            </dt>

            <dd>
                @Model.id_auth
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.mot_de_passe)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.mot_de_passe)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Statuts.statut)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Statuts.statut)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Modifier", "Edit", new { id = Model.id_auth }) |
        @Html.ActionLink("Retour à Mon Compte", "Index")
    </p>
</body>
</html>
