@model ProjectFinal_VNND.Models.Personnes


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ajouter un Voyageur</title>
</head>
<body>



    @if (Session["nbParticipant"] == null || (int)Session["nbParticipant"] < 9 && (int)Session["nbParticipant"] < (int)Session["f_place"])
    {
        <p style=" color :black"> Souhaitez vous ajouter des participants au voyage?</p>
        <p style=" color :black">Nombre de Particpant: @Session["nbParticipant"] (*Le nombre de participant pour une même réservation est limité à 9 voyageurs)</p>


        <div >
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Personnes</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.civilite, "Civilité")
                    <div >
                        @Html.DropDownList("civilite", null, htmlAttributes: new { @class = "form-middle" }) *
                        @Html.ValidationMessageFor(model => model.civilite, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.prenom, "Prénom")
                    <div>
                        @Html.EditorFor(model => model.prenom, new { htmlAttributes = new { @class = "form-middle" } }) *
                        @Html.ValidationMessageFor(model => model.prenom, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.nom, "Nom")
                    <div>
                        @Html.EditorFor(model => model.nom, new { htmlAttributes = new { @class = "form-middle" } }) *
                        @Html.ValidationMessageFor(model => model.nom, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.date_naissance, "Date de Naissance")
                    <div >
                        @Html.EditorFor(model => model.date_naissance, new { htmlAttributes = new { @class = "form-middle" } }) * 
                        <br/>(dd/mm/yyyy)
                        @Html.ValidationMessageFor(model => model.date_naissance, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.adresse, "Adresse")
                    <div >
                        @Html.EditorFor(model => model.adresse, new { htmlAttributes = new { @class = "form-middle" } }) *
                        @Html.ValidationMessageFor(model => model.adresse, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.telephone, "Numéro de Téléphone")
                    <div >
                        @Html.EditorFor(model => model.telephone, new { htmlAttributes = new { @class = "form-middle" } }) *
                        @Html.ValidationMessageFor(model => model.telephone, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.email, "Adresse E-mail", htmlAttributes: new {type = "date" })
                    <div >
                        @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-middle" } })
                        @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                    </div>
                </div>

                @ViewBag.message1


                @*<div class="form-group">
            @Html.LabelFor(model => model.client, "Client", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("client", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.client, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.participant, "Participant", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("participant", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.participant, "", new { @class = "text-danger" })
            </div>
        </div>*@

                <div class="form-group">
                    <div >
                        <input type="submit" value="Ajouter le participant" class="btn btn-default" />
                    </div>
                </div>
            </div>
            }
        </div>
    }


    @if (Session["nbParticipant"] != null)
    {
        using (Html.BeginForm("Index", "Assurances"))
        {
            <div>
                <input type="submit" value="Continuer le dossier" class="btn btn-default" />
            </div>
        }

    }


    <p>
        @ViewBag.message
    </p>

</body>
<footer>

    @using (Html.BeginForm("DossNonConf", "Personnes"))
    {
        <div>
            <input type="submit" value="Annuler la réservation en cours" class="btn btn-default" />
        </div>
    }

</footer>
</html>
