@model ProjectFinal_VNND.Models.Personnes

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Informations</title>
</head>
<body>
    <div class=" details">
        <h4>Personnes</h4>
        <hr />
        <dl >
            <dt>
                Numero Unique (ID Voyageur)
            </dt>

            <dd>
                @Model.id_personne
            </dd>
            <dt>
                Civilit&eacute
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Civilites.civilite)
            </dd>
            <dt>
                Pr&eacutenom
            </dt>

            <dd>
                @Html.DisplayFor(model => model.prenom)
            </dd>

            <dt>
                Nom
            </dt>

            <dd>
                @Model.NOMCAP
            </dd>

            <dt>
                Adresse
            </dt>

            <dd>
                @Model.adresse
            </dd>

            <dt>
                Téléphone
            </dt>

            <dd>
                @Html.DisplayFor(model => model.telephone)
            </dd>

            <dt>
                Date de Naissance
            </dt>

            <dd>
                @Html.DisplayFor(model => model.date_naissance)
            </dd>
            <dt>
                R&eacuteduction
            </dt>
                @Model.reduction
            <dt>
                E-mail
            </dt>

            <dd>
                @Html.DisplayFor(model => model.email)
            </dd>


        </dl>
    </div>
    <p>
        @Html.ActionLink("Modifier", "Edit", new { id = Model.id_personne }) |
        @Html.ActionLink("Retour à la liste des Voyageurs", "Index")
    </p>
</body>
</html>
